<div class="row">
    <div class="col-md-6">
        <h2>Available products are</h2>
        <ng-container *ngIf="available">
            <button class="btn btn-success" (click)="checkproduct()" style="margin: 50px;">Check Product</button>
            <ul *ngFor="let item of products" style="text-align: left;">
                <li>{{item.name}}</li>            
            </ul>
            
        </ng-container>
    </div>
</div>
<!-- ng-Container is used to avoid unnecessary div elements  -->