<div class="page-area">
    <h2>
        Products
    </h2>
    <p>Information about Laptop</p>
    <hr class="mb-3">
<div class="row">
    <div class="col-md-12">
<div class="card" style="width: 15.5rem;">
    <img src="../../../assets/image.webp" class="card-img-top" alt="laptop">
    <div class="card-body">
      <h5 class="card-title">Laptop</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a routerLink="laptop" class="btn btn-primary">Know More</a>
    </div>
  </div>
  <div class="card" style="width: 15.5rem;">
    <img src="../../../assets/OnePlus_8_Pro.png" class="card-img-top" alt="Mobile">
    <div class="card-body">
      <h5 class="card-title">Mobile</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a routerLink="mobile" class="btn btn-primary">Know More</a>
    </div>
  </div>
  <div class="card" style="width: 15.5rem;">
    <img src="../../../assets/tv-image.jpg" class="card-img-top" alt="TV">
    <div class="card-body">
      <h5 class="card-title">TV</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a routerLink="tv" class="btn btn-primary">Know More</a>
    </div>
  </div>
  <div class="card" style="width: 15.5rem;">
    <img src="../../../assets/best-dslr-camera.jpg" class="card-img-top" alt="Camera">
    <div class="card-body">
      <h5 class="card-title">Camera</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a routerLink="camera" class="btn btn-primary">Know More</a>
    </div>
  </div>
</div>
<!-- to display result in one page -->
<!-- <div class="col-md-6"> 
  <router-outlet></router-outlet>
</div> -->
</div>