<div class="page-area" style="text-align: center;">
    <h2>Contact Us</h2>
    <p>All about Products Information</p>
    <div class="row">
        <div class="col-md-12">
    <app-card>
        <h5 class="card-title">Laptop</h5>
        <a routerLink="laptop" class="btn btn-primary" (click)="laptopmethod()">Know More</a>
    </app-card>
    <app-card>
        <h5 class="card-title">Mobile</h5>
        <a routerLink="laptop" class="btn btn-primary">Know More</a>
    
    </app-card>
    <app-card>
        <h5 class="card-title">TV</h5>
        <a routerLink="laptop" class="btn btn-primary">Know More</a>
        
    </app-card>
    <app-card>
        <h5 class="card-title">Camera</h5>
        <a routerLink="laptop" class="btn btn-primary">Know More</a>
    </app-card>      
</div>
</div>
</div>
